<%- include('partials/head')%>

  <body>
    <%- include('partials/nav')%>
    <h1 class="position__label"><%=group.toUpperCase()%></h1>
    
      
      <%- include('partials/qbs')%>
      <%- include('partials/rbs')%>
      <%- include('partials/wrs')%>
      <%- include('partials/tes')%>
      <%- include('partials/flexs')%>
      <%- include('partials/stacks')%>
  </body>
</html>
